header {
  background-color: black;
  color: white;
}

* {
  border: dashed 1px black;
}

.site-logo {
  max-width: 200px !important;
  height: auto;
  float: right;
  position: absolute;;
  display: inline-block;
}

.container-fluid {
  display: inline-block;;
  float: right;
}
